# Database Configuration
MONGODB_USERNAME=your_username
MONGODB_PASSWORD=your_password
MONGODB_CLUSTER=your_cluster
MONGODB_DATABASE=your_database
PORT=3000

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
