/* app.component.css */

body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #003366;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.hero {
  background-image: url('/hero0.jpeg'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 20px;
  color: #ffffff;
  text-align: center;
  position: relative;
  height: 500px;
}
.numserie{
  font-style: normal;
  color: black;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 51, 102, 0.7); /* Overlay color for readability */
  z-index: 1;
}

.hero h1 {
  font-size: 50px;
}

.hero .first{
  font-size: 34px;
}
.hero .second ,.third{
  font-size: 24px;
}
.hero h1,
.hero p,
.hero .search-by-number,
.hero .search-form {
  position: relative;
  z-index: 2; /* Ensures text is above the overlay */
}

select:valid {
  color: #000 !important;
}

.highlight {
  color: #ff9900;
}

/* Search Tabs */
.search-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.search-tabs button {
  background-color: #ddd;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.search-tabs button.active {
  background-color: #ff9900;
  color: #ffffff;
}

.search-tabs button:hover {
  background-color: #cccccc;
}

.search {
  background-color: #004080;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.search label {
  color: #ffffff;
  font-weight: bold;
}

.search-fields {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.search select,
.search button {
  padding: 10px;
  font-size: 16px;
}

.search button {
  background-color: #ff9900;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.products, .categories, .search-results {
  padding: 20px !important; 
}

.noresult{
  font-size: 30px;
  color: #004080 !important;
  padding: 20px !important; 

}

.products h2, .categories h2, .search-results h2{
  font-size: 30px;
  color: #004080 !important;
}

.product-grid, .category-grid {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-item, .category-item {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.product-item img, .category-item img {
  max-width: 100%;
  height: auto;
}

.product-item h3, .category-item h3 {
  color: #333333;
}

.product-item p, .category-item p {
  color: #666666;
}

.product-item button, .category-item button {
  background-color: #004080;
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.product-item button:hover, .category-item button:hover {
  background-color: #ff9900;
}
