<app-navbar></app-navbar>
<div class="main-content" id="main-content">
  <h3>Mon compte</h3>

  <!-- Sidebar (barre latérale) -->
  <div class="sidebar">
    <ul>
      <li (click)="changeContent('orders')">Mes commandes</li>
      <li (click)="changeContent('discounts')">Mes bons de réduction</li>
      <li>
        Paramètres de mon compte
        <ul>
          <li (click)="changeContent('update-info')">Mettre à jour mes informations</li>
          <li (click)="changeContent('change-password')">Changer mon mot de passe</li>
          <li (click)="changeContent('addresses')">Mes adresses</li>
        </ul>
      </li>
      <li (click)="changeContent('iban-info')">Mes informations IBAN</li>
      <li (click)="changeContent('support')">Centre d'assistance</li>
      <li class="logout" (click)="changeContent('logout')">Sortie</li>
    </ul>
  </div>


  <!-- Cards (Cartes affichées en permanence, mais peuvent contenir un contenu dynamique) -->
  <div class="cards">
    <div class="card" (click)="changeContent('orders')">
      <span class="icon">🛒</span>
      <!-- <p>{{ content?.text === 'Mes commandes' ? content.text : 'Mes commandes' }}</p> -->
    </div>
    <div class="card" (click)="changeContent('discounts')">
      <span class="icon">🎁</span>
      <!-- <p>{{ content?.text === 'Mes bons de réduction' ? content.text : 'Mes bons de réduction' }}</p> -->
    </div>
    <div class="card" (click)="changeContent('update-info')">
      <span class="icon">🔧</span>
      <!-- <p>{{ content?.text === 'Mettre à jour mes informations' ? content.text : 'Mettre à jour mes informations' }}</p> -->
    </div>
    <div class="card" (click)="changeContent('change-password')">
      <span class="icon">🔒</span>
      <!-- <p>{{ content?.text === 'Changer mon mot de passe' ? content.text : 'Changer mon mot de passe' }}</p> -->
    </div>
    <div class="card" (click)="changeContent('addresses')">
      <span class="icon">📍</span>
      <!-- <p>{{ content?.text === 'Mes adresses' ? content.text : 'Mes adresses' }}</p> -->
    </div>
    <div class="card" (click)="changeContent('iban-info')">
      <span class="icon">💳</span>
      <!-- <p>{{ content?.text === 'Mes informations IBAN' ? content.text : 'Mes informations IBAN' }}</p> -->
    </div>
    <div class="card" (click)="changeContent('support')">
      <span class="icon">📞</span>
      <!-- <p>{{ content?.text === 'Centre d\'assistance' ? content.text : 'Centre d\'assistance' }}</p> -->
    </div>
  </div>
  <!-- Contenu principal, modifié en fonction de l'élément sélectionné -->
  <div *ngIf="content">
    <span>{{ content.icon }}</span>
    <p>{{ content.text }}</p>
  </div>
</div>
