<app-navbar></app-navbar>
<div class="cart-container">
    <h1>Mon Panier</h1>
  
    <div *ngIf="cartItems.length === 0" class="empty-cart">
      <p>Votre panier est vide.</p>
    </div>
  
    <div *ngIf="cartItems.length > 0">
      <div class="cart-items">
        <div class="cart-item" *ngFor="let item of cartItems">
          <div class="item-details">
            <span class="item-name">{{ item.name }}</span>
            <span class="item-price">{{ item.price | currency }}</span>
          </div>
          <div class="item-actions">
            <!-- Input pour modifier la quantité -->
            <input 
            type="number" 
            [value]="item.quantity" 
            (input)="onQuantityChange(item.productId, $event)" 
            min="1"
            class="quantity-input"
            />

            <button (click)="removeFromCart(item.id)" class="remove-button">Supprimer</button>
          </div>
        </div>
      </div>
  
      <div class="cart-summary">
        <p class="total">Total: {{ total | currency }}</p>
        <button class="checkout-button" (click)="payment()">Passer à la caisse</button>
      </div>
    </div>
  </div>
  