<div class="slider-container rounded-lg overflow-hidden">
  <swiper-container [pagination]="true" [navigation]="true" [autoplay]="{ delay: 5000, disableOnInteraction: false }">
    <swiper-slide>
      <div class="slide-content">
        <img src="assets/images/placeholders/slide3.jpg" alt="Promotional Slide 1">
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide-content">
        <img src="assets/images/placeholders/slide2.jpg" alt="Promotional Slide 2">
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide-content">
        <img src="assets/images/placeholders/slide1.jpg" alt="Promotional Slide 3">
      </div>
    </swiper-slide>
  </swiper-container>
</div>